/* Common styles */
@import url('./reset.css');

body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin-bottom: 32px;
}

input {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  width: 272px;
  outline: none;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  background-color: #fff;
}

input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

input:hover {
  border: 1px solid #000000;
}

input:focus {
  border: 1px solid #4e75ff;
  background-color: #fff;
}

button {
  background-color: #4e75ff;
  border: none;
  border-radius: 8px;
  width: 75px;
  height: 40px;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

button:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  align-items: center;
}

.gallery-item {
  border: 1px solid #808080;
  position: relative;
  overflow: hidden;
}

.descr {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.gallery-item:hover .descr {
  opacity: 1;
}

.descr-label {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.descr-span {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.load-btn {
  width: 125px;
  display: block;
  margin: 20px auto;
}

.loader {
  display: none;
  position: relative;
  height: 12px;
  width: 80%;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
}

.loader:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: #4e75ff;
  animation: 6s prog ease-in infinite;
}

@keyframes prog {
  to {
    width: 100%;
  }
}